<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>

    <main>
        <section>
            <form id="inscription">
                <!-- Informations personnelles -->
                <label>Prénom : <input id="prenom" type="text" name="prenom" required></label>
                <label>Nom : <input id="nom" type="text" name="nom" required></label>
                <label>Email : <input id="email" type="email" name="email" required></label>
                
                <!-- Mot de passe -->
                <label>Mot de passe : <input id="password" type="password" name="password" required></label>
                
                <!-- Bouton de validation -->
                <button type="submit">Créer mon compte</button>
            </form>
        </section>
    </main>

    <script src="../js/inscription.js"></script>
    
</body>
</html>